@import "~taro-ui/dist/style/components/form.scss";
@import "~taro-ui/dist/style/components/input.scss";
@import "~taro-ui/dist/style/components/icon.scss";
@import "~taro-ui/dist/style/components/button.scss";
@import "~taro-ui/dist/style/components/loading.scss";
@import "~taro-ui/dist/style/components/avatar.scss";

.m-login-form {
  padding-top: 240px;

  .submit-button {
    margin-top: 48px;
  }
}

.u-logo {
  position: absolute;
  top: 64px;
  left: 50%;
  transform: translateX(-50%);
}
