@import "~taro-ui/dist/style/components/avatar.scss";
@import "~taro-ui/dist/style/components/button.scss";
@import "~taro-ui/dist/style/components/loading.scss";
@import "~taro-ui/dist/style/components/list.scss";
@import "~taro-ui/dist/style/components/icon.scss";

.m-user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 36px;

  .avatar {
    margin-right: 48px;
  }
}

.u-go-login {
  margin-top: 120px;
}
